@model Models.Auth.LoginModel

@{
    ViewBag.Title = "title";
}

<h2>Log in</h2>


@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    
    @Html.EditorForModel()
    <button>Log in</button>
}
