@model Models.Auth.RegistrationModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    
    @Html.EditorForModel()
    
    <button type="submit">REGISTER</button>    
}
